body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

header {
  padding: 40px;
  text-align: center;
  background: #000;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: #111;
  padding: 15px;
}

nav a {
  color: #ffb300;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #ffb300;
}

.socials a,
.socials span {
  display: inline-block;
  margin-right: 15px;
  color: #ffb300;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
  font-size: 14px;
}
